.root {
  position: relative;
  margin: 3rem 0 0 0;
  width: 100vw;
  height: 100vh;
  background-size: 10vw 10vw;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.tube {
  /* position: absolute; */
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.tubePic {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.title {
  font-size: 0.7rem;
  position: absolute;
  top: 0;
  left: 0%;
  background-color: rgb(39, 102, 102);
  padding: 0.2rem;
}

.addTubeButton {
  background-color:  rgb(220, 61, 178);
  font-size: 1rem;
  position: absolute;
  top: 1%;
  right: 1%;
}

.video {
  border: none;
  width: 5rem;
  height: 4rem;
}

#tubePlayer {
  margin: 1rem 0 0 0;
  width: 100vw;
  height: 10rem;
  background-color: rgb(90,90,90);
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

#tube1Container {
  background-color: rgb(100,200,100);
}
#tube2Container {
  background-color: rgb(127, 100, 200);
}

.tube1Button {
  background-color: rgb(127, 100, 200);
}
.tube2Button {
  background-color: rgb(100,200,100);
}
.focusVid1 {
  border: none;
}
.focusVid2 {
  border: none;
}

/* scale for smaller windows and tablets */
@media (min-width: 600px) and (max-width: 1199px) {
  .root {
    background-size: 5vw 5vw; 
  }
  .tube {
    /* position: absolute; */
    width: 15vw;
    height: 15vw;
  }
}

/* scale for laptops/PC and large screens */
@media (min-width: 1200px) {
  .root {
    background-size: 5vw 5vw; 
  } 
  .tube {
    /* position: absolute; */
    width: 15vw;
    height: 15vw;
  }

}